{{define "home-scripts"}}
<script type="module" src="/static/js/focus-navigation.js?v=1"></script>
<script type="module" src="/static/js/create-link-modal.js?v=1"></script>
<script type="module" src="/static/js/search-suggestions.js?v=1"></script>
<script type="module" src="/static/js/top-search.js?v=1"></script>
<script type="module" src="/static/js/edit-link-modal.js?v=1"></script>
<script type="module" src="/static/js/delete-confirm-dialog.js?v=1"></script>
<script type="module" src="/static/js/state-dialogs.js?v=1"></script>
<script type="module" src="/static/js/state-create-dialogs.js?v=1"></script>
<script type="module" src="/static/js/state-edit-dialogs.js?v=1"></script>
{{end}}
